$break-medium: 994px;
$break-small: 768px;
$break-xs: 576px;

.calendar_wrapper{
  padding-top: 20px;
  background-color: #fff;
  min-height: 800px;
}

.calendar_teacher{
  background-color: #cef;
  padding: 20px;
  margin-bottom: 20px;
}
.calendar_subject_container{
  display: flex;
  @media screen and (max-width: $break-small){
    display: block;
  }
}
.calendar_subject{
  margin: -5px 5px 5px 5px;
  padding: 5px 10px;
  background-color: #ff8;

  @media screen and (max-width: $break-small){
    margin: 10px 0px;
  }
}

.calendar_week{
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $break-small){
    display: block;
  }
}

.calendar_day{
  width: 14%;
  background-color: #fff;
  text-align: center;
  padding: 5px 5px;

  @media screen and (max-width: $break-small){
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 5px 5px 5px;
  }
}

.calendar_timeslot{
  margin-bottom: 5px; border: 1px solid #ccc;

  &.available{
    background-color: #cfc;
  }
  &.occupied{
    background-color: #fcc;
  }
}
