<div class="calendar_wrapper">
  <div class="container">
    <h1>New Subject</h1>

    <%= render 'form', subject: @subject %>
    <div class="spacer-40"></div>

    <%= link_to 'Back', subjects_path, :class=> "btn btn-primary" %>
  </div>
</div>
