.navbar-preface {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 10px 55px -24px rgba(0,0,0,0.4);
}

.navbar-preface .navbar-collapse {
  flex-grow: 0;
}

.navbar-preface .navbar-brand img {

}
