<div class="calendar_wrapper">
  <div class="container">
    <h1>New Timeslot</h1>

    <%= render 'form', timeslot: @timeslot, :url => "" %>
    <div class="spacer-40"></div>
    <%= link_to 'Back', timeslots_path, :class=> "btn btn-primary" %>
  </div>
</div>
